<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>登入 - CDN-DNS管理面板</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}">
    <!-- preloader css -->
    <link rel="stylesheet" th:href="@{/css/preloader.min.css}" type="text/css" />
    <!-- Bootstrap Css -->
    <link th:href="@{/css/bootstrap.min.css}" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link th:href="@{/css/icons.min.css}" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link th:href="@{/css/app.min.css}" id="app-style" rel="stylesheet" type="text/css" />
    <link th:href="@{/libs/sweetalert2/sweetalert2.min.css}" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- <body data-layout="horizontal"> -->
<div class="auth-page">
    <input id="redirect" th:value="${redirect}" type="hidden" />
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-xxl-3 col-lg-4 col-md-5">
                <div class="auth-full-page-content d-flex p-sm-5 p-4">
                    <div class="w-100">
                        <div class="d-flex flex-column h-100">
                            <div class="mb-4 mb-md-5 text-center">
                                <a th:href="@{/}" class="d-block auth-logo">
                                    <img th:src="@{/images/logo-sm.svg}" alt="" height="28"> <span class="logo-txt">CDN-DNS管理面板</span>
                                </a>
                            </div>
                            <div class="auth-content my-auto">
                                <div class="text-center">
                                    <h5 class="mb-0">欢迎回来 !</h5>
                                    <p class="text-muted mt-2">登陆后继续访问.</p>
                                </div>
                                <form class="custom-form mt-4 pt-2" id="login_form">
                                    <div class="mb-3">
                                        <label class="form-label">邮箱</label>
                                        <input type="text" class="form-control" required id="username"  name="username" placeholder="请键入邮箱">
                                    </div>
                                    <div class="mb-3">
                                        <div class="d-flex align-items-start">
                                            <div class="flex-grow-1">
                                                <label class="form-label">密码</label>
                                            </div>
                                            <div class="flex-shrink-0">
                                                <div class="">
                                                    <a th:href="@{/forgotPasswd}" class="text-muted">忘记密码?</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="input-group auth-pass-inputgroup">
                                            <input type="password" class="form-control" required placeholder="请键入密码" name="password" aria-label="Password" aria-describedby="password-addon">
                                            <button class="btn btn-light shadow-none ms-0" type="button" id="password-addon"><i class="mdi mdi-eye-outline"></i></button>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <button class="login-btn-in btn btn-primary w-100 waves-effect waves-light" type="button">登入</button>
                                    </div>
                                </form>

                                <div class="mt-5 text-center">
                                    <p class="text-muted mb-0">没有账号 ? <a th:href="@{/register}"
                                                                                          class="text-primary fw-semibold"> 现在注册 </a> </p>
                                </div>
                            </div>
                            <div class="mt-4 mt-md-5 text-center">
                                <p class="mb-0">© <script>document.write(new Date().getFullYear())</script> CDN-DNS管理面板</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end auth full page content -->
            </div>
            <!-- end col -->
            <div class="col-xxl-9 col-lg-8 col-md-7">
                <div class="auth-bg pt-md-5 p-4 d-flex">
                    <div class="bg-overlay bg-primary"></div>
                    <ul class="bg-bubbles">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <!-- end bubble effect -->
                    <div class="row justify-content-center align-items-center">
                        <div class="col-xl-7">
                            <div class="p-0 p-sm-4 px-xl-0">
                                <div id="reviewcarouselIndicators" class="carousel slide" data-bs-ride="carousel">
                                    <div class="carousel-indicators carousel-indicators-rounded justify-content-start ms-0 mb-0">
                                        <button type="button" data-bs-target="#reviewcarouselIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                        <button type="button" data-bs-target="#reviewcarouselIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                        <button type="button" data-bs-target="#reviewcarouselIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                    </div>
                                    <!-- end carouselIndicators -->
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <div class="testi-contain text-white">
                                                <i class="bx bxs-quote-alt-left text-success display-6"></i>

                                                <h4 class="mt-4 fw-medium lh-base text-white">“我有信心将改变强加于自己。 
                                                    与回顾相比，进步的乐趣要多得多。 这就是为什么我需要扔曲线球。
                                                    我有信心将改变强加于自己。
                                                    与回顾相比，进步的乐趣要多得多。 这就是为什么我需要扔曲线球”
                                                </h4>
                                                <div class="mt-4 pt-3 pb-5">
                                                    <div class="d-flex align-items-start">
                                                        <div class="flex-shrink-0">
                                                            <img th:src="@{/images/users/avatar-1.jpg}" class="avatar-md img-fluid rounded-circle" alt="...">
                                                        </div>
                                                        <div class="flex-grow-1 ms-3 mb-4">
                                                            <h5 class="font-size-18 text-white">Richard Drews
                                                            </h5>
                                                            <p class="mb-0 text-white-50">Web Designer</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="carousel-item">
                                            <div class="testi-contain text-white">
                                                <i class="bx bxs-quote-alt-left text-success display-6"></i>

                                                <h4 class="mt-4 fw-medium lh-base text-white">“我们的任务必须是通过扩大我们的同情心来释放自己，以拥抱所有生物、自然和它的美丽。
                                                    我们的任务必须是通过扩大我们的同情心来释放自己，以拥抱所有生物、自然和它的美丽”</h4>
                                                <div class="mt-4 pt-3 pb-5">
                                                    <div class="d-flex align-items-start">
                                                        <div class="flex-shrink-0">
                                                            <img th:src="@{/images/users/avatar-2.jpg}" class="avatar-md img-fluid rounded-circle" alt="...">
                                                        </div>
                                                        <div class="flex-grow-1 ms-3 mb-4">
                                                            <h5 class="font-size-18 text-white">Rosanna French
                                                            </h5>
                                                            <p class="mb-0 text-white-50">Web Developer</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="carousel-item">
                                            <div class="testi-contain text-white">
                                                <i class="bx bxs-quote-alt-left text-success display-6"></i>

                                                <h4 class="mt-4 fw-medium lh-base text-white">“我了解到人们会忘记你说过的话，
                                                    人们会忘记你做过的事，
                                                    但人们永远不会忘记你让他们感受到的。
                                                    我了解到人们会忘记你说过的话，
                                                    人们会忘记你做过的事，
                                                    但人们永远不会忘记你让他们感受到的。”</h4>
                                                <div class="mt-4 pt-3 pb-5">
                                                    <div class="d-flex align-items-start">
                                                        <img th:src="@{/images/users/avatar-3.jpg}"
                                                             class="avatar-md img-fluid rounded-circle" alt="...">
                                                        <div class="flex-1 ms-3 mb-4">
                                                            <h5 class="font-size-18 text-white">Ilse R. Eaton</h5>
                                                            <p class="mb-0 text-white-50">Manager
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end carousel-inner -->
                                </div>
                                <!-- end review carousel -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container fluid -->
</div>


<!-- JAVASCRIPT -->
<script th:src="@{/libs/jquery/jquery.min.js}"></script>
<script th:src="@{/libs/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/libs/metismenu/metisMenu.min.js}"></script>
<script th:src="@{/libs/simplebar/simplebar.min.js}"></script>
<script th:src="@{/libs/node-waves/waves.min.js}"></script>
<script th:src="@{/libs/feather-icons/feather.min.js}"></script>
<!-- pace js -->
<script th:src="@{/libs/pace-js/pace.min.js}"></script>
<!-- password addon init -->
<script th:src="@{/js/pages/pass-addon.init.js}"></script>
<script th:src="@{/libs/sweetalert2/sweetalert2.min.js}"></script>
<script>
    $(".login-btn-in").click(function(){
        $.post("[[${path}]]/login/info"+"?_="+new Date().getTime(),$("#login_form").serialize(),function(data){
            if(data.flag){
                location.replace($("#redirect").val());
            }else{
                Swal.fire("错误", data.msg , "error")
            }
        },'json').fail(function(e){
            Swal.fire("错误", "连接服务端失败" , "error")
        })
    })
    document.onkeydown = function (e) { // 回车提交表单
        var theEvent = window.event || e;
        var code = theEvent.keyCode || theEvent.which || theEvent.charCode;
        if (code == 13) {
            $(".login-btn-in").click();
        }
    }
</script>
</body>
</html>